* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
    margin-top: 1rem;
    padding: 1rem;
}

.gameboardLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30rem;
  height: 30rem;
}

.square {
  background-color: azure;
  border: 1px solid black;
}
