:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Book Antiqua", Georgia, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboardLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
}

.square {
    background-color: azure;
    border: 1px solid black;

}