* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(images/Index-hero-og.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: top;
}

.player-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 0.4rem;
  padding: 0.4rem;
}

label img {
  width: 1.4rem;
}

h1 {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
}

p {
  margin: 0.8rem;
}

h1,
p {
  text-align: center;
  color: white;
}
.gameboardLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 20rem;
  height: 20rem;
  display: none;
}

.square {
  background-color: rgb(95, 202, 74);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square img.chip {
  width: 70%;
  height: 70%;
  object-fit: contain;
  pointer-events: none;
}

#restart-button {
  display: none;
}

#restart-button,
#start-game-button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  font-size: 0.8rem;
  background-color: white;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(214, 212, 212);
  transition: 0.3s;
}
#restart-button:hover,
#start-game-button:hover {
  background-color: rgb(214, 212, 212);
  transition: 0.3s;
}

input:focus {
  background-color: rgb(214, 212, 212);
  transition: 0.3s;
}
